@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
}

nav {
  position: fixed;
  z-index: 100;
  background: #ffffff;
  left: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: Poppins, sans-serif;
}
nav .background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
}
nav .nav-brand img {
  width: 42px;
}
nav .nav-list {
  position: absolute;
  z-index: -1;
  width: 100%;
  background: #ffffff;
  list-style: none;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 60px 0;
  transition: transform ease-in-out 500ms;
}
nav .nav-list li {
  margin: 20px 0;
}
nav .nav-list li button, nav .nav-list li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
}
nav .nav-list li a {
  position: relative;
  font-size: 0.8em;
  font-weight: 600;
  transition: color ease-in-out 250ms;
}
nav .nav-list li button {
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  padding: 10px 25px;
  background: none;
  border: 3px solid #F1CF69;
  border-radius: 5px;
  transition: background ease-in-out 300ms;
}
nav .nav-list li button:hover {
  background: #F1CF69;
}
nav .nav-list li:not(.last) a::before {
  content: "";
  width: 0;
  height: 2px;
  background: #4A8B71;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width ease-in-out 250ms;
}
nav .nav-list li:not(.last):hover a {
  color: #4A8B71;
}
nav .nav-list li:not(.last):hover a::before {
  width: 20px;
}
nav .nav-list.toggle {
  transform: translateY(100%);
}
nav .nav-toggle {
  cursor: pointer;
  height: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav .nav-toggle .line {
  width: 20px;
  height: 3px;
  background: #555555;
  transition: opacity ease-in-out 300ms;
}
nav .nav-toggle .top, nav .nav-toggle .bottom {
  transition: transform ease-in-out 300ms;
}
nav .nav-toggle .top {
  transform: translateY(-3px);
}
nav .nav-toggle .bottom {
  transform: translateY(3px);
}
nav .nav-toggle.rotate .line:nth-of-type(2) {
  opacity: 0;
}
nav .nav-toggle.rotate .top {
  transform: translateY(3px) rotate(135deg);
}
nav .nav-toggle.rotate .bottom {
  transform: translateY(-3px) rotate(-135deg);
}

@media screen and (min-width: 720px) {
  nav {
    margin-top: 10px;
    padding: 10px 20px;
    position: absolute;
    z-index: 100;
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeIn ease-in-out 500ms forwards;
  }
  nav .background, nav .nav-toggle {
    display: none;
  }
  nav .nav-list {
    padding: 0;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    margin-left: 50px;
    transition: none;
  }
  nav .nav-list li {
    margin: 0 30px 0 0;
  }
  nav .nav-list li:nth-last-of-type(1) {
    margin-left: auto;
  }
  nav .nav-list.toggle {
    transform: translateY(0);
  }

  nav.sticky {
    position: fixed;
    margin-top: 0;
    top: 0;
    width: 100%;
    animation: slideDown ease-in 500ms forwards;
  }
  nav.sticky .background {
    display: block;
    transform: scaleX(8);
  }
}
@keyframes slideDown {
  from {
    transform: translateX(-50%) translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 100vh;
}
header .slides-wrapper {
  width: 100%;
  height: 100vh;
  background: black;
  position: relative;
}
header .slides-wrapper .slide {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  transition: all ease-in-out 300ms;
  opacity: 0;
}
header .slides-wrapper .slide .content {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
header .slides-wrapper .slide.active {
  display: flex;
  animation: fadeIn ease-in-out 500ms forwards;
}
header .slides-wrapper .slide:nth-of-type(1) {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("../assets/home_img/img_6.jpg");
  font-size: 30px;
  line-height: 40px;
  color: white;
  overflow: hidden;
}
header .slides-wrapper .slide:nth-of-type(1) .content {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
header .slides-wrapper .slide:nth-of-type(1) .content h1 {
  margin: 10px 10px;
}
header .slides-wrapper .slide:nth-of-type(1) .content h1:nth-of-type(1) {
  animation: slideUp 300ms ease-in backwards;
  animation-delay: 500ms;
}
header .slides-wrapper .slide:nth-of-type(1) .content h1:nth-of-type(2) {
  animation: slideUp 300ms ease-in backwards;
  animation-delay: 600ms;
}
header .slides-wrapper .slide:nth-of-type(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("../assets/home_img/img_2.jpg");
}
header .slides-wrapper .slide:nth-of-type(2) .content, header .slides-wrapper .slide:nth-of-type(3) .content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 80%;
  text-align: center;
  animation: slideIn ease-in-out 500ms backwards;
  animation-delay: 200ms;
}
header .slides-wrapper .slide:nth-of-type(2) .content h2, header .slides-wrapper .slide:nth-of-type(2) .content p, header .slides-wrapper .slide:nth-of-type(3) .content h2, header .slides-wrapper .slide:nth-of-type(3) .content p {
  color: #ffffff;
}
header .slides-wrapper .slide:nth-of-type(2) .content h2, header .slides-wrapper .slide:nth-of-type(3) .content h2 {
  font-size: 40px;
}
header .slides-wrapper .slide:nth-of-type(2) .content p, header .slides-wrapper .slide:nth-of-type(3) .content p {
  font-size: 14px;
  margin: 10px auto 30px;
  width: 80%;
}
header .slides-wrapper .slide:nth-of-type(2) .content button, header .slides-wrapper .slide:nth-of-type(3) .content button {
  cursor: pointer;
  text-transform: uppercase;
  background: #F1CF69;
  border: none;
  border-radius: 10px;
  max-width: 200px;
  margin: 0 auto;
  padding: 15px 35px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #090e0d;
}
header .slides-wrapper .slide:nth-of-type(2) .content button:hover, header .slides-wrapper .slide:nth-of-type(3) .content button:hover {
  background: #090e0d;
  color: #F1CF69;
}
header .slides-wrapper .slide:nth-of-type(3) {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/bg/bg_8.jpg");
}
header .slides-wrapper .slide:nth-of-type(1) {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header .slides-wrapper .slide:nth-of-type(2) {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header .slides-wrapper .slide:nth-of-type(3) {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header .prev, header .next, header .slide-nav {
  position: absolute;
}
header .prev, header .next {
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  letter-spacing: 4px;
}
header .prev {
  left: 5px;
  transform: rotate(-90deg);
}
header .next {
  right: 5px;
  transform: rotate(90deg);
}
header .slide-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
}
header .slide-nav span {
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  margin: 0 3px;
  width: 13px;
  height: 13px;
  background: #F1CF69;
}
header .slide-nav span.active {
  background: #4A8B71;
}

@media screen and (max-height: 400px) {
  header .slides-wrapper {
    height: 650px;
  }
}
@media screen and (min-width: 720px) {
  header .slides-wrapper .slide:nth-of-type(1) {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 20px;
  }
  header .slides-wrapper .slide:nth-of-type(1) .content {
    display: block;
    padding-left: 20px;
  }
  header .slides-wrapper .slide:nth-of-type(2) .content p, header .slides-wrapper .slide:nth-of-type(3) .content p {
    font-size: 17px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(-10%);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
section.img-gallery {
  width: 100%;
}
section.img-gallery .container {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
}
section.img-gallery .container .content-wrapper {
  column: 1fr;
  overflow: hidden;
  position: relative;
  height: 280px;
}
section.img-gallery .container .content-wrapper .text, section.img-gallery .container .content-wrapper .filter, section.img-gallery .container .content-wrapper img {
  position: absolute;
}
section.img-gallery .container .content-wrapper .text {
  z-index: 12;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Poppins, sans-serif;
}
section.img-gallery .container .content-wrapper .text h2, section.img-gallery .container .content-wrapper .text p {
  color: #fff;
  margin-left: 30px;
}
section.img-gallery .container .content-wrapper .text h2 {
  line-height: 32px;
  font-size: 35px;
}
section.img-gallery .container .content-wrapper .text p {
  margin-top: 20px;
}
section.img-gallery .container .content-wrapper .filter {
  width: 100%;
  height: 100%;
  background: #606060;
  z-index: 10;
  opacity: 0.3;
  transition: all ease-in-out 600ms;
}
section.img-gallery .container .content-wrapper img {
  opacity: 0.98;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  transition: transform ease-in-out 400ms;
}
section.img-gallery .container .content-wrapper:hover img {
  transform: scale(1.2);
}
section.img-gallery .container .content-wrapper:hover .filter {
  background: #176345;
  opacity: 0.7;
}

@media screen and (min-width: 720px) {
  section.img-gallery {
    padding: 30px 0;
  }
  section.img-gallery .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/*# sourceMappingURL=main.css.map */
